<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ms-2" href="#">PRIME NG.</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3">
  <form [formGroup]="form">
    <div class="card flex justify-content-center p-5">
      <p-calendar
        formControlName="date"
        [showButtonBar]="true"
        [showTime]="true"
        [showSeconds]="true"
      ></p-calendar>
    </div>
  </form>
</div>
